<!DOCTYPE html>
<html lang="en">

<h1 style="padding-top: 150px; text-align: center">{{ title }}</h1>
<h2 style="text-align: center">Anton Sukhachev</h2>
<br>
<br>
<br>
<b>Abstract</b>: {{ abstract }}<br>
<br>
<b>Keywords</b>: {{ keywords|join(', ') }}<br>
