body {
    color: #343a40;
}

hr.list {
    margin: 0
}

h1 {
    margin-bottom: 1rem;
}

.header-info-block {
    margin-bottom: 3rem;
    font-size: 1rem;
}

.header-info-block blockquote {
    margin-bottom: 0.5rem;
}

.img-size {
    min-width: 50%;
}

@media screen and (max-width: 600px) {
    .list-date {
        display: none;
    }
}

.quote {
    border-left: 4px solid var(--bs-secondary-color);
    padding-left: 0.5rem;
}

iframe {
    width:100%;
    height: calc(50vh);
}

.badge {
    font-size: 0.7rem;
    margin-right: 10px;
}
.article-line {
    line-height: normal;
    margin-bottom: 5px;
}

.contacts {
    text-align: center;
}

.contacts .contact {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.5rem;
}

.contacts svg {
    width: 100%;
    height: 100%;
}

.contacts a {
    text-decoration: none;
}

.views {
    text-align: right;
    font-size: 1rem;
}

.views svg {
    display: inline-block;
}

.views p {
    display: inline-block;
}
