body {
    color: #343a40;
}

hr.list {
    margin: 0
}

h1 {
    margin-bottom: 30px;
}

.img-size {
    min-width: 50%;
}

@media screen and (max-width: 600px) {
    .list-date {
        display: none;
    }
}

.quote {
    border-left: 4px solid var(--bs-secondary-color);
    padding-left: 20px;
}

iframe {
    width:100%;
    height: calc(50vh);
}

.badge {
    font-size: 0.7rem;
    margin-right: 10px;
}
.article-line {
    line-height: normal;
    margin-bottom: 5px;
}

.contacts svg {
    max-width: 2rem;
    margin-right: 0.6rem;
    text-decoration: none;
}

.contacts a {
    text-decoration: none;
}
