<div class="col-10">
    <a href="{{ item.url }}" 
       {{- 'http' in item.url ? ' target="_blank" ' : '' -}}
       class="link-primary link-underline-opacity-0 link-underline-opacity-100-hover">{{ item.title }}
    </a>
</div>
<div class="col-2 text-end list-date">
    {{ item.date|date(date_format is defined ? date_format : 'M j') }}
</div>
<hr class="list"/>
