{% extends "layout/base.html.twig" %}

{% block content %}
    {% for year,projects in list -%}
        <h4>{{ year }}</h4>
        <div class="row">
        {% for item in projects %}
            {% if item.active %}
                {%- include 'article/item.html.twig' with {item: item} -%}
            {% endif %}
        {% endfor %}
        </div>
        </br>
    {% endfor %}
{% endblock %}
